<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Getlink Fshare</title>
</head>

<body>
    <div id="mainForm" class="container mt-5">
        <img height="50" class="mb-3" src="https://www.fshare.vn/images/fshare-logo-17072020.svg" alt="Fshare">
        <div class="form-group">
            <label>Fshare Link <span class="text-danger">*</span></label>
            <input id="original" type="text" class="form-control" placeholder="https://www.fshare.vn/file/XXXXX"
                required>
            <small id="urlError" class="form-text text-danger" style="display: none;">Invalid input url</small>
        </div>
        <div class="form-group">
            <label>File password</label>
            <input id="password" type="text" class="form-control" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Generated Link</label>
            <input id="generated" type="text" class="form-control" readonly>
        </div>
        <button id="create" class="btn btn-primary mt-2">Get Link</button>
        <button id="copy" class="js-textareacopybtn btn btn-success mt-2" data-id="generated"
            disabled="disabled">Copy</button>
        <button id="download" class="btn btn-danger mt-2" disabled="disabled">Download</button>
    </div>
</body>

</html>
<script>
    $(document).ready(function () {
        $("#original").on("input", function () {
            $("#urlError").hide();
        });
        $('#download').click(function () {
            document.location.href = $("#generated").val();
        });
        $("#create").click(() => {
            const regEx = /^https:\/\/www\.fshare\.vn\/file\/.+/;
            const inputURL = $("#original").val();
            const password = $("#password").val();
            if (regEx.test(inputURL)) {
                $("#create").html(`<span class="spinner-border spinner-border-sm ml-4 mr-4" role="status" aria-hidden="true"></span>`).attr("disabled", true);
                $.get('/generate',
                    { url: inputURL, password: password },
                    function (res) {
                        $("#create").html('Get Link').removeAttr("disabled");
                        if (res.code == 200) {
                            $("#generated").val(res.location.replace('http://', 'https://'));
                            $("#download").removeAttr("disabled");
                            $("#copy").removeAttr("disabled");
                        } else if (res.code == 123) {
                            $("#generated").val("Invalid file password!");
                        }
                        else if (res.code == 404) {
                            $("#generated").val("File not found!");
                        }
                        else {
                            $("#generated").val("Something went wrong!");
                        }
                    })
            } else {
                $("#urlError").show();
            }
        })
        $('.js-textareacopybtn').on('click', function (event) {
            var copyTextarea = $(this).data('id');
            $('#' + copyTextarea)[0].select();

            try {
                var successful = document.execCommand('copy');
                var msg = successful ? 'successful' : 'unsuccessful';
                console.log('Copying text command was ' + msg);
            } catch (err) {
                console.log('Oops, unable to copy');
            }
        });
    })

</script>